@font-face {
    font-family: 'Roboto Slab';
    src: url('fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: 400;
    /* Regular weight */
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('fonts/RobotoSlab-Regular.ttf') format('truetype');
    font-weight: 700;
    /* Bold weight */
    font-style: normal;
}


body {
    overflow: hidden;
    background-color: #d4d4d4;
    font-family: 'Roboto Slab', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

a,
input,
button,
textarea,
select {
    font-family: 'Roboto Slab', sans-serif;
    outline: none;
}

.main-div {
    height: 500px;
    width: 850px;
    background-color: #ECF2F0;
    border-radius: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.left-div {
    display: grid;
    grid-template-rows: 0.2fr 1fr;
}

.right-div {
    display: grid;
    grid-template-rows: 0.2fr 0.2fr 0.2fr 0.5fr 0.2fr;
    height: 500px;
}

input {
    padding: 10px 20px;
    height: 30px;
    width: 260px;
    border: none;
    border-radius: 25px;
    background-color: #d4d4d4;
}

a {
    display: flex;
    font-size: 25px;
    text-decoration: none;
    color: #004232;
    align-self: baseline;
    margin: 10px 50px;
}

textarea {
    resize: none;
    height: 130px;
    width: 260px;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    background-color: #d4d4d4;
    color: black;
}

.btn {
    width: 300px;
    height: 60px;
    border-radius: 25px;
    color: #004232;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #92E3A9;
    transition: 0.5s ease-in;
}

.btn p {
    font-size: 20px;
}

.btn:hover {
    background-color: #ECF2F0;
    color: #004232;
    border: 1px #004232 solid;
}

@media screen and (max-width: 450px) {
    body {
        overflow: hidden;
    }

    .main-div {
        width: 375px;
        justify-self: center;
        border-radius: 40px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr;
        padding: 10px 10px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        height: fit-content;
    }

    img {
        display: none;
    }

    .right-div {
        justify-content: center;
    }

    .right-div h1 {
        text-align: center;
    }

    input {
        width: 320px;
    }

    textarea {
        width: 320px;
    }

    .btn {
        width: 350px;
    }
}
@media screen and (max-width: 410px) and (min-width: 0px) {
    .main-div {
        width: 345px;
        justify-self: center;
        border-radius: 40px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr;
        padding: 10px 10px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        height: fit-content;
    }
    
    input {
        width: 290px;
    }

    textarea {
        width: 290px;
    }

    .btn {
        width: 325px;
    }
}

@media screen and (max-width: 380px) and (min-width: 0px) {
    .main-div {
        width: 315px;
        justify-self: center;
        border-radius: 30px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr;
        padding: 10px 10px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        height: fit-content;
    }
    
    input {
        width: 270px;
    }

    textarea {
        width: 270px;
    }

    .btn {
        width: 305px;
    }
}

@media screen and (max-width: 340px) and (min-width: 0px) {
    .main-div {
        width: 275px;
        justify-self: center;
        border-radius: 30px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr;
        padding: 10px 10px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        height: fit-content;
        margin: 30px 0px;
    }
    
    input {
        width: 220px;
    }

    textarea {
        width: 220px;
    }

    .btn {
        width: 255px;
    }
}